In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

In [9]:
laliga = pd.read_csv('Laliga.csv')

FileNotFoundError: [Errno 2] File Laliga.csv does not exist: 'Laliga.csv'

In [ ]:
laliga.head()

In [7]:
#Q1: Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.
#Do this using the .replace method
laliga=laliga.replace('-', 0.0)
print(laliga)

NameError: name 'laliga' is not defined

In [6]:
#Q2: Print all the teams which have started playing between 1930-1980

#Start by creating a new column called Debut_adj 
#Get the first 4 digits (for the year the club started playing in the La Liga) from the Debut column
#Set data type for Debut_adj as integer 
#The condition is that the club'd debut must lie between 1930 and 1980
#Check that the condition is satisfied
#Print all the teams which have started playing between 1930-1980

laliga['Debut_adj'] = laliga['Debut'].astype(str).str[0:4]
laliga_v1=laliga.astype({'Debut_adj': 'int64'})
laliga_v2 = laliga_v1[(laliga_v1.Debut_adj> 1930) & (laliga_v1.Debut_adj < 1980)]

print(laliga_v2.info)
print("No of Rows & Column:\n",laliga_v2.shape)

NameError: name 'laliga' is not defined

In [48]:
#Q3: Print the list of teams which came Top 5 in terms of points
#set the Points column to an integer
#use the.nlargest method to get the top 5 teams by point and print
laliga=laliga.astype({'Points': 'int64'})

print(laliga.nlargest(5, 'Points'))

   Pos             Team  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
0    1      Real Madrid       86    4385        2762     1647        552
1    2        Barcelona       86    4262        2762     1581        573
2    3  Atletico Madrid       80    3442        2614     1241        598
3    4         Valencia       82    3386        2664     1187        616
4    5  Athletic Bilbao       86    3368        2762     1209        633

  GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth   T  \
0       563     5947         3140  ...        23     8      8     3     4  79
1       608     5900         3114  ...        25    12     12     4     6  83
2       775     4534         3309  ...         8    16      9     7     6  56
3       861     4398         3469  ...         6    10     11    10     7  50
4       920     4631         3700  ...         7    10      5     8    10  49

     Debut Since/LastApp BestPosition  Debut_adj
0     1929          1929            1       1929
1     1929          1929            1       1929
2     1929       2002-03            1       1929
3  1931-32       1987-88            1       1931
4     1929          1929            1       1929

[5 rows x 21 columns]

In [50]:
#Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. 
#Using the same function, find the team which has maximum and minimum goal difference. 

#set data type for 'GoalsFor' and 'GoalsAgainst' to integer

laliga=laliga.astype({'GoalsFor': 'int64','GoalsAgainst': 'int64'})

# define function name Goal_diff_count : 

def Goal_diff_count(deduct,ligaGoals):
    if(bool(deduct)):
        ligaGoals['Goal Difference'] = ligaGoals['GoalsFor']-ligaGoals['GoalsAgainst']
        return ligaGoals
    else:
        maxGoalDiff= ligaGoals.nlargest(1,['Goal Difference']).loc[:,['Team','Goal Difference']]
        print("\n Maximum Goal Difference:\n", maxGoalDiff)
        minGoalDiff= ligaGoals.nsmallest(1,['Goal Difference']).loc[:,['Team','Goal Difference']]
        print("\n Minimum Goal Difference:\n", minGoalDiff)
        
goal_difference = Goal_diff_count(True,laliga)

#Print Goal Differences of each team
print(goal_difference.loc[:,['Team','Goal Difference']])

#Print the team which has maximum and minimum goal difference
print(Goal_diff_count(False,goal_difference))

                Team  Goal Difference
0        Real Madrid             2807
1          Barcelona             2786
2    Atletico Madrid             1225
3           Valencia              929
4    Athletic Bilbao              931
..               ...              ...
56             Xerez              -28
57            Condal              -20
58   Atletico Tetuan              -34
59  Cultural Leonesa              -31
60            Girona                0

[61 rows x 2 columns]

 Maximum Goal Difference:
           Team  Goal Difference
0  Real Madrid             2807

 Minimum Goal Difference:
                 Team  Goal Difference
13  Racing Santander             -525
None

In [56]:
#Q5: Create a new column with name “Winning Percent” and append it to the data set

#set data type for 'GoalsWon' and 'GoalsPlayed' to integer

laliga=laliga.astype({'GamesWon': 'int64','GamesPlayed': 'int64'})

In [57]:
percentageOfWinning =((laliga['GamesWon']) / (laliga['GamesPlayed']))*100

In [83]:
laliga['Winning Percent'] = percentageOfWinning

#Replace any numerical error with 0%
laliga_ne=laliga["Winning Percent"].fillna(0)

In [81]:
print("Top 5 team with highest winning percentage: \n",rankByWinningPercentage.head(5))

Top 5 team with highest winning percentage:
    Pos             Team  Seasons  Points  GamesPlayed  GamesWon  \
0    1      Real Madrid       86    4385         2762      1647
1    2        Barcelona       86    4262         2762      1581
2    3  Atletico Madrid       80    3442         2614      1241
3    4         Valencia       82    3386         2664      1187
4    5  Athletic Bilbao       86    3368         2762      1209

   Winning Percent GamesDrawn GamesLost  GoalsFor  ...  Third Fourth Fifth  \
0        59.630702        552       563      5947  ...      8      8     3
1        57.241130        573       608      5900  ...     12     12     4
2        47.475134        598       775      4534  ...     16      9     7
3        44.557057        616       861      4398  ...     10     11    10
4        43.772629        633       920      4631  ...     10      5     8

  Sixth   T    Debut Since/LastApp BestPosition Debut_adj Goal Difference
0     4  79     1929          1929            1      1929            2807
1     6  83     1929          1929            1      1929            2786
2     6  56     1929       2002-03            1      1929            1225
3     7  50  1931-32       1987-88            1      1931             929
4    10  49     1929          1929            1      1929             931

[5 rows x 23 columns]

In [91]:
#Group teams based on their “Best position” and print the sum of their points for all positions
groupBestPosition = laliga[['Team','Points','BestPosition']].groupby('BestPosition')
groupBestPosition

In [87]:
#print the sum of their points for all positions
groupBestPosition.sum()

              Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34